@import '../variables/variables';
@import '../variables/mixins';

.container{
  main{
    @include vertical-display;
    margin-top: 20px;
    row-gap: 50px;

    #hero-section{
      figure{
        img{
          width: 100%;
          box-sizing: border-box;
        }
      }

      div{
        h1{
          color: $very-dark-blue;
          font-size: 2.6em;
          font-weight: 800;
          line-height: 1;
          margin-block: 20px;
        }
  
        div{
          p{
            @include text;
          }
  
          button{
            cursor: pointer;
            background-color: $soft-red;
            border: none;
            padding: 15px 30px;
            margin-top: 20px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 4px;
  
            &:hover{
              background-color: $very-dark-blue;
              color: $off-white;
            }
          }
        }
      }
    }

    #news-container{
      background-color: $very-dark-blue;
      color: $off-white;
      padding: 20px;

      h3{
        color: $soft-orange;
        font-size: 2em;
        margin-bottom: 20px;
      }

      section{
        h4{
          font-size: 20px;
          margin-bottom: 10px;
          cursor: pointer;

          &:hover{
            color: $soft-orange;
          }
        }
        p{
          @include text;
          color: $grayish-blue;
        }
      }

      hr{
        background-color: $grayish-blue;
        height: 0.5px;
        border-width: 0;
        margin-block: 25px;
      }
    }

    #article-container{
      @include vertical-display;
      row-gap: 30px;
      article{
        display: flex;
        column-gap: 20px;

        img{
          width: 100px;
        }

        section{
          @include vertical-display;
          justify-content: space-between;
          h2{
            color: $soft-red;
            font-size: 1.7em;
            font-weight: 800;
          }
          h3{
            font-size: 1.1em;
            font-weight: 800;
            cursor: pointer;

            &:hover{
              color: $soft-red;
            }
          }

          p{
            @include text;
          }
        }
      }
    }
  }
}